/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;	
}

*{
    margin:0px;
    padding: 0px;

}
body{
    height: 100vh;
    width: 100%;
}
/*Font Imports*/
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Poppins:wght@400;600&family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&family=Open+Sans&family=Poppins:wght@400;600&family=Ubuntu+Mono:wght@400;700&display=swap');
/*Custom Properties*/
:root{
    /*Colors*/
    --purple:hsl(257, 40%, 49%);
    
    /*Font*/
    --normal-weight:400;
    --Header-weight:600;
    /*Font-family*/
    --FF-body: 'Open Sans', sans-serif;
    --FF-Headings:'Poppins', sans-serif;
}


/*Background Design*/
body{
    background-image: url(bg-desktop.svg) ;
    background-size: 100% auto;
    background-color: var(--purple);
    background-repeat: no-repeat;
}

/*Mobile Design*/

/*Font Styling*/
body{
    font-family: var(--FF-body);
    font-weight: var(--normal-weight);
    font-size: 16px;
    font-style: var(--FF-body);
    color: white;
}


/*Flex-box*/
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
/*Register Content Flexbox*/
.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
}
/*Header Flexbox*/
header{
    width: 100%;   
    display: flex;
    flex-direction: row;
    justify-content: center;
}



/*Content Styling*/
.illustration{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#illustration-main{
   width: 62%;
}
h2{
    line-height: 1.5;
    font-weight: var(--Header-weight);
    font-family: var(--FF-Headings);
    font-style: var(--FF-Headings);
    text-align: center;
    font-size: 25px;
}
p{
    line-height:1.2;
    font-weight: var(--normal-weight);
    font-style:var(--FF-body);
    text-align: center;
    font-size: 18px;
    color: rgb(233, 233, 233);
   
}

/*Button Styling*/
button{
    font-size: 16px;
    color: var(--purple);
    background-color: white;
    padding: .75rem 4rem;
    border: none;
    border-radius: 20px;
    max-width: 250px;
}

.socials-icons{
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(7430%) hue-rotate(11deg) brightness(92%) contrast(114%);
   border: none;
   display: flex;
}
.img-border{
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
    border-radius: 15px;
    padding: 5px;
}
.social-links
{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

/*Desktop Styling*/
@media screen and (min-width:600px) {
   /* body{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 1rem;

    }*/
    body{
        display: grid;
        grid-template-columns: 1rem 60% 30% 1rem;
    grid-template-rows: 15px 100px 3fr 15px;
    }
    header{
       grid-column-start:2 ;
       grid-column-end: 4;
       grid-row-start: 2;
       grid-row-end: 3;
       display: flex;
       flex-direction: column;
       justify-content: left;
    }
    main{
        grid-column-start:2 ;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
       display: flex;
       flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
    }
    .illustration{
        flex-direction: row;
        justify-content: space-around;
        align-items:center ;
        flex-wrap: wrap;
    }
    .logo-container{
        margin-left: 3rem;
    }
   #illustration-main{
     width: 100%;
     
    }
    #huddle-logo{
        width: 300px;
        margin-left: 4rem;
    }
    .content-container{
       width: 40%;
    }
   /* .illustration{
        width: 300px;
    }
    .content-container{
        width: 200px;
    }*/
}

